wpp/calendly
{
"name": "Calendly_WhatsApp",
"nodes": [
{
"parameters": {
"events": [
"invitee.created",
"invitee.canceled"
]
},
"name": "Calendly Trigger",
"type": "n8n-nodes-base.calendlyTrigger",
"typeVersion": 1,
"position": [
460,
640
],
"webhookId": "206a46a8-0323-45bb-bde1-d9ffbce9dd9e",
"id": "84f8a830-d4c1-4cef-9ba1-db51b8c1e885",
"credentials": {
"calendlyApi": {
"id": "50",
"name": "Calendly account"
}
}
},
{
"parameters": {
"value": "={{$json[\"payload\"][\"event\"][\"start_time\"]}}",
"dataPropertyName": "data_inicio",
"custom": true,
"toFormat": "DD/MM/YYYY",
"options": {
"toTimezone": "America/Sao_Paulo"
}
},
"name": "Data inicio",
"type": "n8n-nodes-base.dateTime",
"typeVersion": 1,
"position": [
680,
880
],
"id": "45714b78-e4c1-402c-881e-d6afe259d4c6"
},
{
"parameters": {
"value": "={{$json[\"payload\"][\"event\"][\"start_time\"]}}",
"dataPropertyName": "hora_inicio",
"custom": true,
"toFormat": "HH:mm",
"options": {
"toTimezone": "America/Sao_Paulo"
}
},
"name": "Hora inicio",
"type": "n8n-nodes-base.dateTime",
"typeVersion": 1,
"position": [
900,
640
],
"id": "af2302f2-800c-49df-bb71-aec30fe0611f"
},
{
"parameters": {
"authentication": "oAuth2",
"operation": "upsert",
"sheetId": "1CHYJvjHfXc9CC3TFY2hnj91_1vynWd0eiGq2_cKfaAE",
"range": "A:R",
"key": "ID",
"options": {}
},
"name": "Google Sheets",
"type": "n8n-nodes-base.googleSheets",
"typeVersion": 1,
"position": [
2420,
880
],
"id": "7e7676d8-6041-4f6e-ab9c-a69d6e05d7d7",
"credentials": {
"googleSheetsOAuth2Api": {
"id": "9",
"name": "Google Sheets account_VA"
}
}
},
{
"parameters": {
"values": {
"string": [
{
"name": "ID",
"value": "={{$json[\"payload\"][\"event\"][\"uuid\"]}}"
},
{
"name": "Nome",
"value": "={{$json[\"payload\"][\"invitee\"][\"name\"]}}"
},
{
"name": "Email",
"value": "={{$json[\"payload\"][\"invitee\"][\"email\"]}}"
},
{
"name": "Necessidade",
"value": "={{$json[\"payload\"][\"questions_and_responses\"][\"2_response\"]}}"
},
{
"name": "Data",
"value": "={{$json[\"data_inicio\"]}}"
},
{
"name": "Hora inicio",
"value": "={{$json[\"hora_inicio\"]}}"
},
{
"name": "Hora termino",
"value": "={{$json[\"hora_termino\"]}}"
},
{
"name": "Link",
"value": "={{$json[\"payload\"][\"event\"][\"location\"]}}"
},
{
"name": "Criado em",
"value": "={{$json[\"payload\"][\"event\"][\"created_at\"]}}"
},
{
"name": "Cancelado",
"value": "={{$json[\"payload\"][\"event\"][\"canceled\"]}}"
},
{
"name": "Cancelado em",
"value": "={{$json[\"payload\"][\"invitee\"][\"canceled_at\"]}}"
},
{
"name": "Motivo cancelamento",
"value": "={{$json[\"payload\"][\"invitee\"][\"cancel_reason\"]}}"
},
{
"name": "Lembrete 24h",
"value": "={{$json[\"lembrete_24h_form\"]}} {{$json[\"hora_inicio\"]}}"
},
{
"name": "Lembrete 3h",
"value": "={{$json[\"data_inicio\"]}} {{$json[\"lembrete_3h_form\"]}}"
},
{
"name": "WhatsApp",
"value": "={{$json[\"payload\"][\"questions_and_responses\"][\"1_response\"]}}"
},
{
"name": "Email_organizador",
"value": "={{$json[\"payload\"][\"event\"][\"extended_assigned_to\"][0][\"email\"]}}"
}
]
},
"options": {}
},
"name": "Set",
"type": "n8n-nodes-base.set",
"typeVersion": 1,
"position": [
2200,
680
],
"id": "7d44f81a-1ea3-4f11-b409-b353add17ca3"
},
{
"parameters": {
"value": "={{$json[\"payload\"][\"event\"][\"end_time\"]}}",
"dataPropertyName": "hora_termino",
"custom": true,
"toFormat": "HH:mm",
"options": {
"toTimezone": "America/Sao_Paulo"
}
},
"name": "Hora termino",
"type": "n8n-nodes-base.dateTime",
"typeVersion": 1,
"position": [
1120,
880
],
"id": "066925ab-e4c0-410f-bf15-dba0256dc655"
},
{
"parameters": {
"action": "calculate",
"value": "={{$json[\"data_inicio\"]}}",
"operation": "subtract",
"duration": 1,
"dataPropertyName": "lembrete_24h",
"options": {
"fromFormat": "DD/MM/YYYY"
}
},
"name": "Calcular -24h",
"type": "n8n-nodes-base.dateTime",
"typeVersion": 1,
"position": [
1360,
660
],
"id": "2c35c33b-b5fd-4ca4-afe1-7720ec73ad37"
},
{
"parameters": {
"value": "={{$json[\"lembrete_24h\"]}}",
"dataPropertyName": "lembrete_24h_form",
"custom": true,
"toFormat": "DD/MM/YYYY",
"options": {}
},
"name": "Formatar -24h",
"type": "n8n-nodes-base.dateTime",
"typeVersion": 1,
"position": [
1580,
880
],
"id": "ca47b889-005b-4c9f-89ee-aa7e2352e97c"
},
{
"parameters": {
"action": "calculate",
"value": "={{$json[\"hora_inicio\"]}}",
"operation": "subtract",
"duration": 3,
"timeUnit": "hours",
"dataPropertyName": "lembrete_3h",
"options": {
"fromFormat": "HH:mm"
}
},
"name": "Calcular -3h",
"type": "n8n-nodes-base.dateTime",
"typeVersion": 1,
"position": [
1780,
680
],
"id": "a25060c9-b001-49ef-b528-34782ce725f8"
},
{
"parameters": {
"value": "={{$json[\"lembrete_3h\"]}}",
"dataPropertyName": "lembrete_3h_form",
"custom": true,
"toFormat": "HH:mm",
"options": {}
},
"name": "Formatar -3h",
"type": "n8n-nodes-base.dateTime",
"typeVersion": 1,
"position": [
1980,
880
],
"id": "fab572dc-9a97-4b24-bd87-d44d4ad46b84"
},
{
"parameters": {
"values": {
"string": [
{
"name": "ID",
"value": "={{$json[\"ID\"]}}"
},
{
"name": "Check 24h",
"value": "=Sim"
}
]
},
"options": {}
},
"name": "Set2",
"type": "n8n-nodes-base.set",
"typeVersion": 1,
"position": [
1280,
1420
],
"id": "09b2a2ab-3233-44d3-a3dd-1e87f13f5e32"
},
{
"parameters": {
"authentication": "oAuth2",
"operation": "update",
"sheetId": "1CHYJvjHfXc9CC3TFY2hnj91_1vynWd0eiGq2_cKfaAE",
"range": "A:R",
"key": "ID",
"options": {
"valueRenderMode": "FORMATTED_VALUE"
}
},
"name": "Google Sheets2",
"type": "n8n-nodes-base.googleSheets",
"typeVersion": 1,
"position": [
1520,
1420
],
"id": "6867dc59-d28e-4fb8-81be-f19b310cabee",
"credentials": {
"googleSheetsOAuth2Api": {
"id": "9",
"name": "Google Sheets account_VA"
}
}
},
{
"parameters": {
"authentication": "oAuth2",
"operation": "update",
"sheetId": "1CHYJvjHfXc9CC3TFY2hnj91_1vynWd0eiGq2_cKfaAE",
"range": "A:R",
"key": "ID",
"options": {}
},
"name": "Google Sheets3",
"type": "n8n-nodes-base.googleSheets",
"typeVersion": 1,
"position": [
1520,
1700
],
"id": "c69994c3-061a-4384-a93a-d843a4757ebd",
"credentials": {
"googleSheetsOAuth2Api": {
"id": "9",
"name": "Google Sheets account_VA"
}
}
},
{
"parameters": {
"triggerTimes": {
"item": [
{
"mode": "everyHour"
},
{
"mode": "everyHour",
"minute": 30
}
]
}
},
"name": "Cron",
"type": "n8n-nodes-base.cron",
"typeVersion": 1,
"position": [
420,
1560
],
"id": "12ed477f-a5b8-4cb7-a69b-510d4e4b2303"
},
{
"parameters": {
"value": "={{Date()}}",
"dataPropertyName": "Agora",
"custom": true,
"toFormat": "DD/MM/YYYY HH:mm",
"options": {
"fromTimezone": "America/Sao_Paulo"
}
},
"name": "Agora",
"type": "n8n-nodes-base.dateTime",
"typeVersion": 1,
"position": [
700,
1560
],
"id": "74966416-f166-4ba8-abe1-8c07dd2950d3"
},
{
"parameters": {
"authentication": "oAuth2",
"operation": "lookup",
"sheetId": "1CHYJvjHfXc9CC3TFY2hnj91_1vynWd0eiGq2_cKfaAE",
"range": "A:R",
"lookupColumn": "Lembrete 24h",
"lookupValue": "={{$json[\"Agora\"]}}",
"options": {
"returnAllMatches": true,
"valueRenderMode": "FORMATTED_VALUE"
}
},
"name": "Lembrete 24h",
"type": "n8n-nodes-base.googleSheets",
"typeVersion": 1,
"position": [
1020,
1420
],
"id": "ba7e0ce0-295e-400f-b777-a6b38bffb8b2",
"credentials": {
"googleSheetsOAuth2Api": {
"id": "9",
"name": "Google Sheets account_VA"
}
}
},
{
"parameters": {
"authentication": "oAuth2",
"operation": "lookup",
"sheetId": "1CHYJvjHfXc9CC3TFY2hnj91_1vynWd0eiGq2_cKfaAE",
"range": "A:R",
"lookupColumn": "Lembrete 3h",
"lookupValue": "={{$json[\"Agora\"]}}",
"options": {
"returnAllMatches": true,
"valueRenderMode": "FORMATTED_VALUE"
}
},
"name": "Lembrete 3h",
"type": "n8n-nodes-base.googleSheets",
"typeVersion": 1,
"position": [
1020,
1700
],
"id": "fde7f697-e4fa-4a73-bb78-18c87c4bad92",
"credentials": {
"googleSheetsOAuth2Api": {
"id": "9",
"name": "Google Sheets account_VA"
}
}
},
{
"parameters": {
"requestMethod": "POST",
"url": "https://teste.uzapi.com.br:3333/sendText",
"options": {},
"bodyParametersUi": {
"parameter": [
{
"name": "session",
"value": "vamosautomatizar"
},
{
"name": "number",
"value": "=55{{$json[\"WhatsApp\"]}}"
},
{
"name": "text",
"value": "=Olá {{$json[\"Nome\"]}}\n\nPassando para lembrar que temos uma reunião agendada para hoje as {{$json[\"Hora inicio\"]}}\n\nAté breve,\n\nClaudio Balbino\nVamos automatizar"
}
]
},
"headerParametersUi": {
"parameter": [
{
"name": "sessionkey",
"value": "vamosautomatizar"
},
{
"name": "content-type",
"value": "application/json"
}
]
}
},
"name": "Mensagem1",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 1,
"position": [
1760,
1700
],
"notesInFlow": true,
"id": "8de10451-a0f8-4145-a764-2748db592fd3",
"notes": "Enviar mensagem de texto"
},
{
"parameters": {
"requestMethod": "POST",
"url": "https://teste.uzapi.com.br:3333/sendText",
"options": {},
"bodyParametersUi": {
"parameter": [
{
"name": "session",
"value": "vamosautomatizar"
},
{
"name": "number",
"value": "=55{{$json[\"WhatsApp\"]}}"
},
{
"name": "text",
"value": "=Olá {{$json[\"Nome\"]}}\n\nPassando para lembrar que temos uma reunião agendada para amanã as {{$json[\"Hora inicio\"]}}\n\nAté breve,\n\nClaudio Balbino\nVamos automatizar"
}
]
},
"headerParametersUi": {
"parameter": [
{
"name": "sessionkey",
"value": "vamosautomatizar"
},
{
"name": "content-type",
"value": "application/json"
}
]
}
},
"name": "Mensagem",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 1,
"position": [
1740,
1420
],
"notesInFlow": true,
"id": "1ed1181e-4e5e-424d-8ca1-fc1d28297751",
"notes": "Enviar mensagem de texto"
},
{
"parameters": {
"values": {
"string": [
{
"name": "ID",
"value": "={{$json[\"ID\"]}}"
},
{
"name": "Check 3h",
"value": "=Sim"
}
]
},
"options": {}
},
"name": "Set1",
"type": "n8n-nodes-base.set",
"typeVersion": 1,
"position": [
1280,
1700
],
"id": "2c471c03-38df-4bca-abdf-d1cd2c82606e"
},
{
"parameters": {
"content": "## 🚨 ADICIONE CADA ETAPA EM WORKFLOW SEPARADO 🚨",
"height": 104.52524254686573,
"width": 784.5315050099011
},
"id": "d6d23bb8-70ff-4d8a-b3ee-28113265e9ec",
"name": "Sticky Note",
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
340,
1160
]
},
{
"parameters": {
"content": "## ETAPA 1: INCLUI EVENTOS NO SHEETS",
"height": 608.1376707606781,
"width": 2374.2436939118697
},
"id": "63038bd4-a577-4cc4-bd50-f0e95dd43d2c",
"name": "Sticky Note1",
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
340,
480
]
},
{
"parameters": {
"content": "## ETAPA 2: ENVIA MENSAGEM WHATSAPP",
"height": 579.441518748071,
"width": 1705.8547026553879
},
"id": "5526174f-17a6-49f5-a724-2abfa0955e15",
"name": "Sticky Note2",
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
340,
1340
]
}
],
"pinData": {},
"connections": {
"Calendly Trigger": {
"main": [
[
{
"node": "Data inicio",
"type": "main",
"index": 0
}
]
]
},
"Data inicio": {
"main": [
[
{
"node": "Hora inicio",
"type": "main",
"index": 0
}
]
]
},
"Hora inicio": {
"main": [
[
{
"node": "Hora termino",
"type": "main",
"index": 0
}
]
]
},
"Set": {
"main": [
[
{
"node": "Google Sheets",
"type": "main",
"index": 0
}
]
]
},
"Hora termino": {
"main": [
[
{
"node": "Calcular -24h",
"type": "main",
"index": 0
}
]
]
},
"Calcular -24h": {
"main": [
[
{
"node": "Formatar -24h",
"type": "main",
"index": 0
}
]
]
},
"Formatar -24h": {
"main": [
[
{
"node": "Calcular -3h",
"type": "main",
"index": 0
}
]
]
},
"Calcular -3h": {
"main": [
[
{
"node": "Formatar -3h",
"type": "main",
"index": 0
}
]
]
},
"Formatar -3h": {
"main": [
[
{
"node": "Set",
"type": "main",
"index": 0
}
]
]
},
"Set2": {
"main": [
[
{
"node": "Google Sheets2",
"type": "main",
"index": 0
}
]
]
},
"Google Sheets2": {
"main": [
[
{
"node": "Mensagem",
"type": "main",
"index": 0
}
]
]
},
"Google Sheets3": {
"main": [
[
{
"node": "Mensagem1",
"type": "main",
"index": 0
}
]
]
},
"Cron": {
"main": [
[
{
"node": "Agora",
"type": "main",
"index": 0
}
]
]
},
"Agora": {
"main": [
[
{
"node": "Lembrete 24h",
"type": "main",
"index": 0
},
{
"node": "Lembrete 3h",
"type": "main",
"index": 0
}
]
]
},
"Lembrete 24h": {
"main": [
[
{
"node": "Set2",
"type": "main",
"index": 0
}
]
]
},
"Lembrete 3h": {
"main": [
[
{
"node": "Set1",
"type": "main",
"index": 0
}
]
]
},
"Set1": {
"main": [
[
{
"node": "Google Sheets3",
"type": "main",
"index": 0
}
]
]
}
},
"active": false,
"settings": {},
"versionId": "446e32f3-4a6e-484e-85d9-4c756207b724",
"id": "fkg8zer4KpICqc26",
"meta": {
"instanceId": "796a0b48a9ec9864d5951076a8a6aee931bf9b29168044441fa0dcac70c65b99"
},
"tags": [
{
"id": "11",
"createdAt": "2023-02-10T13:56:28.221Z",
"updatedAt": "2023-02-10T13:56:28.221Z",
"name": "Vamos Automatizar"
}
]
}
